body {
  font-family: sans-serif;
  font-size: 16px;
  margin: 0 auto;
  padding: 0;
  background-color: #EAE8E9;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #2AA0E6;
}

h2 {
  font-size: 2.5em;
  font-weight: bold;
  font-family: sans-serif;
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

/* Main Header Section */
.header {
  height: 18%;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: helvetica;
  z-index: 1;
}

.header h1 {
  font-size: 2.7rem;
  font-weight: bold;
  line-height: 0rem;
  color: #404040;
}

.header p {
  font-size: 1.2rem;
  margin-top: -.6rem; 
  color: #818181;
}

.logo {
  width: 120px;
  opacity: 0.8;
  padding-left: 8rem;
}

.header-text {
  padding-right: 10rem;
  text-align: right;
}


/* Featured Work */

.featured-work {
  margin: 0 auto;
  text-align: center;
  padding-top: 2em;
  color: #404040;

}

.work-contents {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  text-align: left;
  width: 80%;
  margin: 0 auto;
}

.project {
  color: black;
  width: 23%;
  height: 57%;
  background-color: white;
  padding: 0 3em 0 3em;
  border-radius: 5px;
  box-shadow: 12px 12px 25px rgba(121, 121, 121, 0.7);
  margin-top: 5em;
  border-top: 8px solid #2AA0E6;
}

.project img {
  border-radius: 5px;
  box-shadow: 8px 8px 25px rgba(80, 80, 80, 0.4);
  margin-top: -3.5em;
  margin-bottom: 2em;
}

.project img:hover {
  box-shadow: 8px 8px 25px rgba(80, 80, 80, 0.6);
}

.tools {
  border-top: 1px solid #D8D8D8;
  padding-top: 2em;
  margin-top: 2em;
  font-size: 13px;
  color: #277DAF;
}

/* Contact Info */

.contact-info {
  background-color: white;
  margin-top: 7em;
  padding: 2em 10em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


@media only screen and (max-width: 730px) {

  .header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: none;
    height: 30%;
    width: 100%;
  }
  .logo {
    padding-left: 0;
    width: 90px;
  }
  .header-text {
    padding: 0;
    text-align: center;
  }
  .header h1 {
    font-size: 2.1rem;
    line-height: 0;
  }

  .header p {
    font-size: 1rem;
  }

  .work-contents {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .project {
    width: 60%;
    margin-top: 3em;
    margin-bottom: 3em;
  }
  .project img {
    margin-top: -2em;
    margin-bottom: 1em;
  }

  .contact-info {
    display: block;
    text-align: center;
    padding: 2em 0;
    margin-top: 5em;
  }
}