body {
  font-family: sans-serif;
  font-size: 16px;
  margin: 0 auto;
  padding: 0;
  background-color: #EAE8E9;
}

a {
  text-decoration: none;
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
}

a:hover {
  color: #2AA0E6;
}

h2 {
  font-size: 2.5em;
  font-weight: bold;
  font-family: sans-serif;
  margin-bottom: -1rem;
  font-family: 'Montserrat', sans-serif;
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
  image-rendering: -webkit-optimize-contrast;
}

/* NavBar Section */
nav {
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.95);
  padding: 0.7rem 3.5rem;
  position: fixed;
  max-width: 100%;
  width: 93%;
  z-index: 1;
  box-shadow: -3px 5px 25px rgba(99, 99, 99, 0.7);
}

.nav-text {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding-left: 5rem;
}

.nav-text a {
  font-weight: normal;
  font-size: 1.1rem;
  display: inline-block;
  color: #5F5F5F;
  font-family: 'Montserrat', sans-serif;
}

.nav-text a:hover {
  color: #2AA0E6;
}

.logo, .logo-text {
  display: block;
}

.about, .portfolio, .contact {
  display: inline;
  padding-left: 4rem;
}

.nav-left a {
  font-weight: bold;
  color: black;
  font-family: 'Arial';
  font-size: 1.3rem;
}

.logo-text {
  font-family: 'Montserrat', sans-serif;
  color: #747474;
}

.nav-right {
  padding-right: 5rem;
}

@media only screen and (max-width: 760px) {
  .nav-left {
    display: none;
  }

  nav {
    padding: 1rem;
  }

  .nav-text {
    padding: 0;
  }

  .nav-right {
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .about, .portfolio, .contact {
    padding-left: 0;
  }
}

/* Main Header Section */

.header-image{
  margin: 0 auto;
  background-image: url("images/header2.jpg");
  height: 48rem;
  background-repeat: no-repeat;
  background-size: 100%;
  color: white;
  line-height: 4.5rem;
  text-align: center;
}

.name p {
  font-family: 'Pacifico', cursive;
  font-size: 5rem;
  margin: 0 auto;
  width: 100%;
  padding-top: 20rem;
}

.des p {
  font-size: 2.2rem;
  width: 100%;
  margin: 0 auto;
  font-family: 'Arima Madurai', cursive;
  animation: type 7s steps(60, end);
  overflow: hidden;
  white-space: nowrap;
}

@keyframes type{
  0%{width: 0;}
  4%{width: 0;}
  100%{width: 100;}
}

.arrow {
  font-size: 3rem;
  padding-top: 13rem;
  opacity: 0.3;
  animation: bounce 2s infinite ease;
  animation-delay: 2s;
}

@media only screen and (max-width: 750px) {
  .header-image {
    height: 35rem;
    background-size: cover;
    line-height: 3.3rem;
  }

  .name p {
    padding-top: 13rem;
    font-size: 3rem;
  }

  .des p {
    animation: type 2s steps(60, end)
  }

  .arrow {
    padding-top: 11rem;
    animation: newbounce 2.5s infinite ease;
    animation-delay: 2.1s;
  }

  @keyframes newbounce {
    0%{padding-top: 11rem;}
    50%{padding-top: 12rem;}
    100%{padding-top: 11rem;}
  }
}

@keyframes bounce {
  0%{padding-top: 13rem;}
  50%{padding-top: 14rem;}
  100%{padding-top: 13rem;}
}


/* Recent Work */

.featured-work {
  margin: 0 auto;
  text-align: center;
  padding-top: 2em;
  color: #404040;
}

.featured-work h2 {
  padding: 3rem 0;
}

.work-contents {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  text-align: left;
  width: 83%;
  margin: 0 auto;
}

.project {
  color: black;
  width: 23%;
  height: 25em;
  background-color: white;
  padding: 0 4em 0 2em;
  border-radius: 5px;
  box-shadow: 12px 12px 25px rgba(121, 121, 121, 0.7);
  margin-top: 8em;
  border-top: 8px solid #8CCAEE;
  position: relative;
  margin-bottom: 4rem;
}

.project img {
  padding: 1rem;
  background-color: white;
  box-shadow: 8px 8px 25px rgba(80, 80, 80, 0.4);
  margin-top: -6em;
  margin-bottom: 1em;
  transition: background-color 0.2s ease-in-out;
}

.project img:hover {
  box-shadow: 8px 8px 25px rgba(80, 80, 80, 0.6);
  background-color: #BEDFF3;
}

.tools {
  border-top: 1px solid #D8D8D8;
  padding-top: 2em;
  margin-top: 2em;
  font-size: 13px;
  color: #588CAB;
}

.description {
  color: #6D6D6D;
}

/* Contact Info */
.contact-section {
  background-image: url("images/footer.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 38rem;
  margin-top: 5rem;
}

.contact-info {
  margin-top: 1.5rem;
  padding: 2em 10em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-box {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #D1D1D1;
  border: 3px solid white;
  box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.6);
  transition: border 0.5s, background-color 0.5s, box-shadow 0.5s;
}

.contact-box:hover {
  background-color: white;
  border: 3px solid black;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 1);
}

.contact-box a {
  text-align: center;
  color: black;
  font-size: 1.1rem;
  font-weight: bold;
}

.contact-box a:hover {
  color: #3C79B2;
}

.contact-me h1 {
  font-family: 'Pacifico', cursive;
  font-size: 5rem;
  margin: 0 auto;
  width: 100%;
  color: white;
  text-align: center;
  padding-top: 6rem;
  margin-bottom: 0;
}

.location {
  text-align: center;
  color: white;
  font-size: 1.5rem;
  padding-top: 5rem;
  font-family: 'Montserrat', sans-serif;
}

/* Footer Section */
footer {
  height: 7rem;
  text-align: center;
}

footer p {
  padding-top: 3.5rem;
  font-size: 0.9rem;
}


/* Media Queries */
@media only screen and (max-width: 780px) {

  header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: none;
    height: 30%;
    width: 100%;
  }
  .logo {
    padding-left: 0;
    width: 90px;
  }
  .header-text {
    padding: 0;
    text-align: center;
  }
  header h1 {
    font-size: 2.1rem;
    line-height: 0.5em;
  }

  header p {
    font-size: 1rem;
  }

  .work-contents {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .project {
    width: 60%;
    height: auto;
    margin-top: 3em;
    margin-bottom: 3em;
    padding-bottom: 1em;
    padding-right: 2rem;
  }
  .project img {
    margin-top: -2em;
    margin-bottom: 1em;
    padding: 0.5rem;
    margin-left: -0.5rem;
  }

  .contact-section {
    height: 23rem;
  }

  .contact-info {
    margin-top: 0.5rem;
    padding: 0;
    display: inline-block;
    text-align: center;
  }

  .contact-me h1 {
    font-size: 3rem;
    padding-top: 1rem;
  }

  .contact-box {
    height: 5rem;
    width: 5rem;
    border: 2px solid white;
    margin: 0;
    display: inline-block;
    margin: 0.3rem 1rem;
  }

  .contact-box a {
    position: absolute;
    font-size: 0.8rem;
    padding-top: 2rem;
  }

  #email a {
    margin-left: -1.9rem;
  }

  #linkedin a {
    margin-left: -1.7rem;
  }

  #github a {
    margin-left: -1.5rem;
  }

  #resume a {
    margin-left: -2.15rem;
    font-size: 0.75rem;
  }

  #twitter a {
    margin-left: -1.3rem;
  }

  .location {
    font-size: 1rem;
    padding-top: 2rem;
  }

}
