body {
  font-family: sans-serif;
  font-size: 16px;
  margin: 0 auto;
  padding: 0;
  background-color: #EAE8E9;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #2AA0E6;
}

h2 {
  font-size: 2.5em;
  font-weight: bold;
  font-family: sans-serif;
  margin-bottom: -1rem;
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
  image-rendering: -webkit-optimize-contrast;
}

/* Main Header Section */
header {
  height: 18%;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: helvetica;
  z-index: 1;
}

header h1 {
  font-size: 2.7rem;
  font-weight: bold;
  line-height: 0rem;
  color: #404040;
}

header p {
  font-size: 1.2rem;
  margin-top: -0.2rem;
  color: #818181;
}

.logo {
  width: 120px;
  opacity: 0.8;
  padding-left: 8rem;
}

.header-text {
  padding-right: 10rem;
  text-align: right;
}

.header-image{
  margin: 0 auto;
  background-image: url("images/header2.jpg");
  height: 48rem;
  background-repeat: no-repeat;
  background-size: 100%;
  color: white;
  line-height: 4.5rem;
  text-align: center;
}



.name p {
  font-family: 'Pacifico', cursive;
  font-size: 5rem;
  margin: 0 auto;
  width: 100%;
  padding-top: 20rem;
}

.des p {
  font-size: 2.2rem;
  width: 100%;
  margin: 0 auto;
  font-family: 'Arima Madurai', cursive;
  animation: type 7s steps(60, end);
  overflow: hidden;
  white-space: nowrap;
}

@keyframes type{
  0%{width: 0;}
  4%{width: 0;}
  100%{width: 100;}
}

.arrow {
  font-size: 3rem;
  padding-top: 13rem;
  opacity: 0.3;
  animation: bounce 2.5s infinite ease;
  animation-delay: 2s;
}

@media only screen and (max-width: 750px) {
  .header-image {
    height: 35rem;
    background-size: cover;
    line-height: 3.3rem;
  }

  .name p {
    padding-top: 13rem;
    font-size: 3rem;
  }

  .des p {
    animation: type 1.5s steps(60, end)
  }

  .arrow {
    padding-top: 11rem;
    animation: newbounce 2.5s infinite ease;
    animation-delay: 1.5s;
  }

  @keyframes newbounce {
    0%{padding-top: 11rem;}
    50%{padding-top: 12rem;}
    100%{padding-top: 11rem;}
  }
}

@keyframes bounce {
  0%{padding-top: 13rem;}
  50%{padding-top: 14rem;}
  100%{padding-top: 13rem;}
}

/* Skills Section */

.skill-section {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 0.5rem;
}

.skillbox {
  margin: 0.5rem;
  width: 15rem;
  height: 10rem;
  text-align:center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Pacifico', cursive;
  font-size: 2.5rem;
  color: white;
  background: #26375E;
    box-shadow: 8px 8px 25px #8E8E8E;
}



/* Featured Work */

.featured-work {
  margin: 0 auto;
  text-align: center;
  padding-top: 2em;
  color: #404040;

}

.work-contents {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  text-align: left;
  width: 80%;
  margin: 0 auto;
}

.project {
  color: black;
  width: 23%;
  height: 25em;
  background-color: white;
  padding: 0 3em 0 3em;
  border-radius: 5px;
  box-shadow: 12px 12px 25px rgba(121, 121, 121, 0.7);
  margin-top: 8em;
  border-top: 8px solid #2AA0E6;
  position: relative;
}

.project img {
  border-radius: 5px;
  box-shadow: 8px 8px 25px rgba(80, 80, 80, 0.4);
  margin-top: -3.5em;
  margin-bottom: 2em;
}

.project img:hover {
  box-shadow: 8px 8px 25px rgba(80, 80, 80, 0.6);
}

.tools {
  border-top: 1px solid #D8D8D8;
  padding-top: 2em;
  margin-top: 2em;
  font-size: 13px;
  color: #277DAF;
}

/* Contact Info */

.contact-info {
  background-color: white;
  margin-top: 7em;
  padding: 2em 10em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


@media only screen and (max-width: 780px) {

  header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: none;
    height: 30%;
    width: 100%;
  }
  .logo {
    padding-left: 0;
    width: 90px;
  }
  .header-text {
    padding: 0;
    text-align: center;
  }
  header h1 {
    font-size: 2.1rem;
    line-height: 0.5em;
  }

  header p {
    font-size: 1rem;
  }

  .work-contents {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .project {
    width: 60%;
    height: auto;
    margin-top: 3em;
    margin-bottom: 3em;
    padding-bottom: 1em;
  }
  .project img {
    margin-top: -2em;
    margin-bottom: 1em;
  }

  .contact-info {
    display: block;
    text-align: center;
    padding: 2em 0;
    margin-top: 5em;
  }
}
